#### Sets:-> 
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [4]:
type({1,2,3,4,5,'parimal'})

set

In [6]:
print(set([1,2,3,4,5,5]))

{1, 2, 3, 4, 5}

In [ ]:
set_var={"parimal","siddhart","piyush"}
print(set_var)#It is unordered, which means the order of items when printed is not guaranteed.

#The order can change every time you run the program.

#Internally, sets use a hashing mechanism to store elements, which is why they appear in a different order.
print(set_var)

{'piyush', 'siddhart', 'parimal'}
{'piyush', 'siddhart', 'parimal'}

In [ ]:
## indexing se element nhi udha sakte hai hai sets ke under because it is not subscritable,,, List is subscritable but sets is not,,, items assign bhi nhi kar skte hai

In [12]:
# by iterate
for i in set_var:
    print(i)

piyush
siddhart
parimal

In [ ]:
# inbuilt function in sets
set_var.add("patel")# its add element in sort order

In [14]:
set_var

{'parimal', 'patel', 'piyush', 'siddhart'}

In [17]:
set_1=set([4,2,3,1,6,7])
print(set_1)
set_1.add(0)
print(set_1)

{1, 2, 3, 4, 6, 7}
{0, 1, 2, 3, 4, 6, 7}

In [18]:
set1={"parimal","siddhart","piyush"}
set2={"parimal","siddhart","piyush","parth"}

In [ ]:
#intersection :- not updated
set2.intersection(set1)

{'parimal', 'piyush', 'siddhart'}

In [ ]:
# intersection_update:- it will update the value in another set
set2.intersection_update(set1)
set2

{'parimal', 'piyush', 'siddhart'}

In [24]:
# set difference
set2.difference(set1)
set1

{'parimal', 'piyush', 'siddhart'}

In [26]:
# set difference_update
set2.difference_update(set1)
print(set2)

set()

In [27]:

set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [ ]:
set2.issuperset(set1)#whether set2 is a superset of set1, set1 ke element already set2 mein present hai aur set2 mein jada element h toh set1 ke sare element agar set2 mein mil jate hai toh set2 is a superset of set1

True

In [29]:
set1.issubset(set2)

True

### Dictionaries:->
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [32]:
type({1:"parimal"})

dict

In [41]:
print(type(dict))

<class 'dict'>

In [46]:

dict(name="parimal",age=31,last_name="patel")

{'name': 'parimal', 'age': 31, 'last_name': 'patel'}

In [47]:
## let create a dictionary
my_dict={"car1":"audi","car2":"BMW","car3":"Mercidies Benz"}

In [48]:
type(my_dict)

dict

In [ ]:
## indexing
my_dict["car1"]## key name likhna h indexing mein

'audi'

In [50]:
#inbuilt function
my_dict.items()

dict_items([('car1', 'audi'), ('car2', 'BMW'), ('car3', 'Mercidies Benz')])

In [51]:
my_dict.keys()

dict_keys(['car1', 'car2', 'car3'])

In [52]:
my_dict.values()

dict_values(['audi', 'BMW', 'Mercidies Benz'])

In [ ]:
#we can even loop through the dictionaries keys
for x in my_dict:
    print(x)## keys

car1
car2
car3

In [56]:
for x in my_dict.values():
    print(x)

audi
BMW
Mercidies Benz

In [57]:
for x in my_dict.items():
    print(x)

('car1', 'audi')
('car2', 'BMW')
('car3', 'Mercidies Benz')

In [59]:
## adding items in Dictionaries
my_dict['car4']="Audi 2.0"
my_dict

{'car1': 'audi', 'car2': 'BMW', 'car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

#### Nested Dictionary

In [60]:

car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [61]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [63]:
# accessing element in neseted 
car_type['car1']['Mercedes']

1960

### Tuples:->

In [64]:
my_tuple=(1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
# inbuilt function:- count and index
my_tuple.index(5)

4

In [66]:
my_tuple.count(1)

1